<div class="w3-card-4 w3-display-middle" style="width: 100%; max-width: 600px;">
    <header class="w3-container w3-blue">
        <h3>Add Service</h3>
    </header>

    <div class="w3-container" style="background-color: white;">
        <label>Patient Name</label>
        <select class="w3-select w3-border" ng-class="data.idPasien? '': 'w3-pale-red'" ng-model="data.idPasien">
            <option value="" disabled selected>Select your option</option>
            <option ng-repeat="patient in patients track by patient.id" value="{{patient.id}}">
                {{patient.nama}} - {{patient.alamat}}
            </option>
        </select>
        <label>Queue Number</label>
        <input class="w3-input w3-border" type="number" ng-class="data.nomorAntrian? '': 'w3-pale-red'" ng-model="data.nomorAntrian">
        <label>Date of Service</label>
        <input class="w3-input w3-border" type="date" ng-class="data.tanggalKunjungan? '': 'w3-pale-red'"
            ng-model="data.tanggalKunjungan">
        <label>Symptoms</label>
        <textarea class="w3-input w3-border" ng-class="data.penyakit? '': 'w3-pale-red'"
            ng-model="data.penyakit"></textarea>
        <p>
            <button class="w3-button w3-blue" ng-click="addService(data)">Add Service</button>
            <a class="w3-button w3-red" ui-sref-active="active" ui-sref="admin.services">Cancel</a>
        </p>
    </div>
</div>