<h2>Payment/{{data.dataPasien.nama}}</h2>
<hr>
<p>
    Doctor: {{data.dataDokter.nama}}
    <br>
    Date of Service: {{data.dataPendaftaran.tanggalKunjungan | date}}
    <br>
    Name: {{data.dataPasien.nama}}
    <br>
    Gender: {{data.dataPasien.gender}}
    <br>
    Address: {{data.dataPasien.alamat}}
    <br>
    Phone: {{data.dataPasien.telefon}}
    <br>
    Symptoms: {{data.dataPendaftaran.penyakit}}
    <br>
    Diagnose: {{data.diagnosa}}
    <br>
    Action: {{data.tindakan}}
    <br>
    Recipe:
    <br>
    <span ng-repeat="_dataTransaksiObat in data.dataTransaksiObat track by _dataTransaksiObat.id">
        {{_dataTransaksiObat.dataObat.namaObat}} {{_dataTransaksiObat.dataObat.harga}}
        <br>
    </span>
    Total Bill: {{data.totalBiaya}}
</p>