<div class="w3-card-4 w3-display-middle" style="width: 100%; max-width: 600px;">
    <header class="w3-container w3-blue">
        <h3>Login</h3>
    </header>

    <div class="w3-container">
        <label>E-mail</label>
        <input class="w3-input" type="text" ng-class="data.email? '': 'w3-pale-red'" ng-model="data.email">
        <label>Password</label>
        <input class="w3-input" type="password" ng-class="data.password? '': 'w3-pale-red'" ng-model="data.password">
        <p>
            <button class="w3-button w3-blue" ng-click="loginAdmin(data)">Login Admin</button>
            <button class="w3-button w3-blue" ng-click="loginDoctor(data)">Login Doctor</button>
            <a class="w3-button" ui-sref="register">Registration</a>
        </p>
    </div>
</div>