<h2>Service</h2>
<hr>

<p>
    <a class="w3-button w3-blue" ui-sref="admin.addService">Add Service</a>
</p>

<table class="w3-table-all">
    <tr>
        <th ng-click="orderProperty='namaPasien'">Name Patient</th>
        <th ng-click="orderProperty='genderPasien'">Gender</th>
        <th ng-click="orderProperty='alamatPasien'">Address</th>
        <th ng-click="orderProperty='telefonPasien'">Phone</th>
        <th ng-click="orderProperty='penyakit'">Symptoms</th>
        <th ng-click="orderProperty='tanggalKunjungan'">Date of Service</th>
        <th ng-click="orderProperty='nomorAntrian'">Queue Number</th>
        <th>Name Doctor</th>
        <th ng-click="orderProperty='status'">Status</th>
        <!-- <th>Update/Delete</th> -->
    </tr>
    <tr ng-repeat="_data in data | orderBy: orderProperty track by _data.id">
        <td>{{_data.namaPasien}}</td>
        <td>{{_data.genderPasien}}</td>
        <td>{{_data.alamatPasien}}</td>
        <td>{{_data.telefonPasien}}</td>
        <td>{{_data.penyakit}}</td>
        <td>{{_data.tanggalKunjungan | date}}</td>
        <td>{{_data.nomorAntrian}}</td>
        <td>{{_data.namaDokter}}</td>
        <td>{{_data.status}}</td>
        <!-- <td>
            <div class="w3-bar">
                <button class="w3-bar-item w3-button w3-blue w3-tiny w3-padding-small" style="width: 50%;"
                    ng-click="update(_data)">Update</button>
                <button class="w3-bar-item w3-button w3-red w3-tiny w3-padding-small" style="width: 50%;"
                    ng-click="delete(_data.id)">Delete</button>
            </div>
        </td> -->
    </tr>
</table>