<div class="w3-row container">
    <div class="w3-col w3-card sidenav">
        <header class="w3-container w3-blue" style="text-align: center;">
            <h2>SMART DOCTOR</h2>
        </header>
        <div class="w3-container" style="padding: 0; margin: 5px;">
            <center>
                <img src="../../img/ico_person.png" width="50px">
                <h3 style="margin: 0 0 10px 0;">Hi, Admin</h3>
            </center>
            <a class="w3-button w3-blue w3-block button-sidenav" ui-sref="admin.patients">Patient</a>
            <a class="w3-button w3-blue w3-block button-sidenav" ui-sref="admin.services">Service</a>
            <a class="w3-button w3-blue w3-block button-sidenav" ui-sref="admin.obats">Drug</a>
            <button class="w3-button w3-red w3-block button-sidenav" ng-click="logout()">Logout</button>
        </div>
    </div>
    <div class="w3-rest content" style="padding: 10px;">
        <div ui-view></div>
    </div>
</div>