<h2>Payment</h2>
<hr>

<table class="w3-table-all">
    <tr>
        <th ng-click="orderProperty='dataPasien.nama'">Name</th>
        <th ng-click="orderProperty='dataPasien.gender'">Gender</th>
        <th ng-click="orderProperty='dataPasien.alamat'">Address</th>
        <th ng-click="orderProperty='dataPasien.telefon'">Phone</th>
        <th ng-click="orderProperty='dataPendaftaran.tanggalKunjungan'">Date of Service</th>
        <th ng-click="orderProperty='dataPendaftaran.nomorAntrian'">Queue Number</th>
        <th ng-click="orderProperty='totalBiaya'">Total Bill</th>
        <th>Detail</th>
    </tr>
    <tr ng-repeat="_data in data | orderBy: orderProperty track by _data.id">
        <td>{{_data.dataPasien.nama}}</td>
        <td>{{_data.dataPasien.gender}}</td>
        <td>{{_data.dataPasien.alamat}}</td>
        <td>{{_data.dataPasien.telefon}}</td>
        <td>{{_data.dataPendaftaran.tanggalKunjungan|date}}</td>
        <td>{{_data.dataPendaftaran.nomorAntrian}}</td>
        <td>{{_data.totalBiaya}}</td>
        <td>
            <button class="w3-button w3-blue w3-block w3-tiny w3-padding-small" ng-click="detailPayment(_data)">
                Detail
            </button>
        </td>
    </tr>
</table>