<h2>Add Examination</h2>
<hr>

<div class="w3-container" style="background-color: white;">
    <h3>Data Service</h3>

    <table class="w3-table-all">
        <tr>
            <th>Name Patient</th>
            <td>{{dataExamination.namaPasien}}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{dataExamination.genderPasien}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{dataExamination.alamatPasien}}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{dataExamination.telefonPasien}}</td>
        </tr>
        <tr>
            <th>Symptoms</th>
            <td>{{dataExamination.penyakit}}</td>
        </tr>
        <tr>
            <th>Date of Service</th>
            <td>{{dataExamination.tanggalKunjungan|date}}</td>
        </tr>
        <tr>
            <th>Queue Number</th>
            <td>{{dataExamination.nomorAntrian}}</td>
        </tr>
    </table>

    <h3>Measurement</h3>

    <label>Date of Measurement</label>
    <input class="w3-input w3-border" type="date" ng-class="dataFisik.tanggalData? '': 'w3-pale-red'"
        ng-model="dataFisik.tanggalData">

    <label>Weight (kg)</label>
    <input class="w3-input w3-border" type="number" ng-class="dataFisik.beratBadan? '': 'w3-pale-red'"
        ng-model="dataFisik.beratBadan">

    <label>Height (cm)</label>
    <input class="w3-input w3-border" type="number" ng-class="dataFisik.tinggiBadan? '': 'w3-pale-red'"
        ng-model="dataFisik.tinggiBadan">

    <label>Temperature (C)</label>
    <input class="w3-input w3-border" type="number" ng-class="dataFisik.suhu? '': 'w3-pale-red'"
        ng-model="dataFisik.suhu">

    <label>Heart Rate (bpm)</label>
    <input class="w3-input w3-border" type="number" ng-class="dataFisik.detakJantung? '': 'w3-pale-red'"
        ng-model="dataFisik.detakJantung">

    <label>Blood Pressure (mm/Hg)</label>
    <input class="w3-input w3-border" type="text" ng-class="dataFisik.tekananDarah? '': 'w3-pale-red'"
        ng-model="dataFisik.tekananDarah">

    <h3>Examination</h3>

    <label>Diagnose</label>
    <textarea class="w3-input w3-border" ng-class="dataRiwayat.diagnosa? '': 'w3-pale-red'"
        ng-model="dataRiwayat.diagnosa"></textarea>

    <label>Action</label>
    <textarea class="w3-input w3-border" ng-class="dataRiwayat.tindakan? '': 'w3-pale-red'"
        ng-model="dataRiwayat.tindakan"></textarea>

    <label>Examination Bill</label>
    <input class="w3-input w3-border" type="number" ng-class="dataRiwayat.biayaPemeriksaan? '': 'w3-pale-red'"
        ng-model="dataRiwayat.biayaPemeriksaan">

    <label>Drug</label>
    <select class="w3-select w3-border" ng-class="dataTransaksiObat.length !== 0? '': 'w3-pale-red'"
        ng-model="tempDataObat">
        <option value="" disabled selected>Select your option</option>
        <option ng-repeat="_dataObat in dataObat track by _dataObat.id" value="{{_dataObat}}">
            {{_dataObat.namaObat}} - {{_dataObat.harga}}
        </option>
    </select>
    <button class="w3-button w3-blue" ng-click="addObat(tempDataObat)">Add</button>
    <br>
    <br>
    <table class="w3-table-all">
        <tr>
            <th>Drug Name</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="_dataTransaksiObat in dataTransaksiObat | orderBy: 'namaObat' track by $index">
            <td>{{_dataTransaksiObat.namaObat}}</td>
            <td>{{_dataTransaksiObat.harga}}</td>
            <td>
                <button class="w3-button w3-blue w3-block w3-tiny w3-padding-small"
                    ng-click="deleteObat($index)">Delete</button>
            </td>
        </tr>
        <tr>
            <th>Total Bill</th>
            <th class="w3-right">{{dataRiwayat.totalBiaya + dataRiwayat.biayaPemeriksaan}}</th>
            <th></th>
        </tr>
    </table>

    <p>
        <button class="w3-button w3-blue"
            ng-click="dataRiwayat.totalBiaya = dataRiwayat.totalBiaya + dataRiwayat.biayaPemeriksaan; addExamination(dataRiwayat, dataTransaksiObat, dataFisik);">
            Add Examination
        </button>
        <a class="w3-button w3-red" ui-sref="dokter.patients">Cancel</a>
    </p>
</div>